@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
    }
    body{
        background-color: #121212;
        color: #EFF1F3;
        
    }
  }